*{padding: 0;margin:0;font-stretch: normal;font-family: Roboto;}
.logo{padding: 9px 0 11.3px 79px!important;}
a.nav-link {
	text-decoration: none;
	font-size: 16px!important;
	font-weight: 500!important;
	line-height: 1.88; 	
	font-style: normal;
	line-height: 1.88;
	letter-spacing: normal;
	text-align: center;
	color: #2c2727!important;
	font-family: Roboto!important;
	padding-left:  91px!important;
	padding-right: 91px!important;
	padding-top:30px!important;
	padding-bottom:30px!important;
  }
  .heart img,.avatar img,.shopping-cart img{height:21px;}
  .heart a,.avatar a,.shopping-cart a{padding: 30px 0!important;}
  .heart ,.avatar ,.shopping-cart {margin:0 20px  ;vertical-align: middle;height: 21.2px; 
	object-fit: contain;}
   .line1{font-size: 20px;margin: 30px 0  ;font-weight: lighter;color:#707070;}
  

.search-box{background-color: #f5f5f5;padding:0 5px!important; margin:30px 0;height:34px;color: #f5f5f5;border-radius: 2px;}
.search-txt{width: 15em;background-color: #f5f5f5;border:none;font-size:14px;}
.search-txt ::placeholder{padding: 10px 36px 8px 10px;}
.search-txt:focus {outline:none}
.btn{ height: 40px;display: inline-block;}
a.btn{padding: 5px 8px 9px 10px;color:grey;}
.carousel-inner img{width: 100%;height: 100%;}
.left-arrow{
	position: absolute;
	left:8%;
	top:40%;
}
.right-arrow{
	position: absolute;
	right: 8%;
	top:40%;

}
#demo li{background-color:black;
	height:15px;
	width:15px;
	border-radius:50%}

.Rectangle {
	display: table;
	clear: both;
	width: 100%;
	height: 30px;
	background-color: #b8e3ec;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: normal;
	text-align: center;
	color: #2c2727; 
  }
.Rectangle p{margin: 5px 0 6px 0}
.carousel-indicators .active {
	width: 15.3px;
	height: 15.3px;
	background-color: black;

}
.title {
	color: #101010;
	margin-left: 0;
	width: 100%;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: normal;
	text-align: center;
	padding: 55px 0 35px 0;
	clear: both;
  }
.container{max-width: 1920px!important;
width:94%!important;
margin: 0 auto!important; 
padding:0!important} 

.cat h5{
	width:100%;
	height: 24px;
	font-size: 18px;
	font-style: normal;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: normal;
	text-align: center;
	color: #101010;
	margin:30px 0px 54px 0px;
	
	}
.whole a{text-decoration: none;}
.cat img{width: 100%;object-fit: contain;}
.cat{padding: 0px 48px;}
a.an{text-decoration: none}
.shopping{width: 85%!important;}
.shop{width: 49%;}
.shop img{width: 100%;text-decoration: none}
.dry{width:100%;margin-top:30px;clear: both;}
.dry img{width:100%} 
.carousel{clear: both;} 
.whole{
	padding: 0!important;
	position: relative;
	margin-bottom: 56px;

}
.box3{clear: both;position: relative;}
.box3 .carousel-inner1{padding: 0px 48px; margin: 0px 48px;}
.p1{position: relative;}
.pic{position: relative;width:100%}
.pic1{position: absolute;top:18px;right: 18px;}
.pic2{position: absolute;bottom: 18px;right: 18px;}
.trending{position: absolute;top: 0;left: 0;color: white!important;background-color: #d90c1c;padding:6px 10px 4px 11px;margin: 0;}
.content a{text-decoration: none;}
.content p{
  width: 80%;
  height: auto; 
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #393939;
  margin-bottom: 14px;
  margin-top: 19px;
}
.product{margin: 0px 8px;}
.product .content ul{
    width: 90%;
    list-style: none;
    padding: 0;    
}
.product .content ul li{display:inline-block;padding-right: 20px;}
.red-cart img{
  object-fit: contain;
  padding: 5px ;
}
li.red-cart{padding-right: 0!important;}
.red-cart{
  position: absolute;
  bottom: 0px;
  right:25px;
  height: 48px;
  border-radius: 5px;
  border: solid 1px #d90c1c;
  background-color: #d90c1c}
.off {

  height: 16px; 
  font-size: 14px;
  font-weight: bold;
  
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #d71a21;
}
.left-arrow1{
	width: 22.4px;
  height: 48.8px;
	position: absolute;
	left:10%;
	top:223px;
}
.right-arrow1{
	width: 22.4px;
    height: 48.8px;
	position: absolute;
	right: 10%;
	top:223px;

}
.youtube{clear: both;margin-bottom:55px;}
.youtube iframe{width: 100%;height: 578px}
.Testimonials{background-color: #b8e3ec;clear: both;padding-bottom: 640px;position: relative;}
 .testimonial-slider{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;} 
.customer{
	margin: 0px 48px;
	text-align: center;
	letter-spacing: normal;
	height: auto;
	box-shadow: 10px 20px 20px 0px rgba(145, 157, 162, 0.18);
	background-color: #ffffff;
	padding-bottom: 32px;
}

	.icon{ 
	padding-top: 20px;
	font-size: 95px;
	font-weight: bold;  
	font-style: italic;
	line-height: 1.17;  
	color: #d71a21;  
	margin: 0px;
	}
  .thought { 
	font-size: 16px;
	width: 100%;
	font-weight: normal;  
	font-style: normal;
	line-height: 1.63;
	text-align: left;
	padding: 0 30px 47px 30px;
	color: #3a2c4a;
	}
  
  .name{
	padding-top: 19px;
	font-size: 18px;
	font-weight: bold; 
	font-style: normal;
	line-height: 1.39; 
	color: #d71a21;margin-bottom: 0;}
  .occupation{
	font-size: 16px;
	font-weight: normal;
	color: #3a2c4a;margin-top: 0px;

  }

	.left-arrow12{
		width: 22.4px;
    height: 48.8px;
		position: absolute;
		left:21%;
	top:51.9%;
	}
	.right-arrow12{
		width: 22.4px;
    height: 48.8px;
	position: absolute;
	right: 21%;
	top:51.9%;
	
	}


	  /* footer */

footer{width: 100%;height:auto;text-align: center; background-color: #f2f2f2;margin-top:35px;padding-top:27px;clear: both!important;}
footer a {
  text-decoration: none!important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #3a2c4a;
  padding: 0 15px;
  font-size: 14px;
  
}
footer a:hover{color: #3a2c4a;}
.links li {display: inline;list-style-type: none;padding: 30px 0px 0px  0px;margin: 0px auto;}
.link_row1{width:90%;padding: 20px 0px 0px 0px; margin: 0px 48px;}
.fl:after{
  display: inline-block;
  content: '';
  border-radius: 5px;
  height: 5.4px;
  width:  5.4px;
  background-color: #3a2c4a;
  margin: 5px 30px;
  vertical-align: middle;
}

footer .fa{
	padding: 6px;
	font-size: 12px;
    width: 25px;
    height:25px;
    text-decoration: none;
    color: white;
    border-radius:80%;
    background-color: #d71a21;
	clear: both;
	
}
.fa-instagram{margin: 0px 20px;}


.social{clear: both;width:99%;margin-top: 24px}
.copy{
  clear: both;
  width:99%;
  padding-top:20px;
  padding-bottom:12px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #3a2c4a;}
  .line2{padding: 0px 25px;}
  @media only screen and (max-width:1550px) {
	a.nav-link {
	  padding-left: 12px!important;
	  padding-right:12px!important;
	  
	}
	.search-txt{width:12em}
	.Testimonials{padding-bottom: 720px;}

	
	
  }
  @media only screen and (max-width:995px){
	a.nav-link {
		padding-left: 8px!important;
		padding-right:8px!important;
		
	  }
	.Testimonials{padding-bottom: 1500px;}

	.customer{margin-top: 10px;}
	footer a{padding: 0px} 
	.heart ,.avatar ,.shopping-cart {margin: 0px 10px 0px ;}
	a.btn{float: right;}
	 
	.line1{font-size: 20px!important;}
}
@media only screen and (max-width:768px){
	a.nav-link {padding-top: 5px!important;padding-bottom: 5px!important;}
	.heart ,.avatar ,.shopping-cart,.line1,.right-arrow,.left-arrow {display: none;}
	.cat {padding-left: 0; padding-right: 0;}
	.shop{margin:10px}
	.customer{margin-top:10px}
	.Testimonials{padding-bottom: 1760px;}
	.search-box{width:50%;margin-left: 180px;margin-top: 0px;} 	
}

@media only screen and (max-width:600px){

	.box3 .carousel-inner1{padding: 0px; margin: 0px;}
	.product{margin: 0px;}
	.search-box{width:50%;margin-left: 180px;margin-top: 0px;} 	
	.left-arrow1,.right-arrow1{margin-top: 1140px;}
	 .shop{margin:10px}
	.Testimonials{padding-bottom: 2000px;}
	 .customer{margin:10px 0px 0px;}
	 
	.fl:after{content: none}
      footer{padding-bottom: 80px;padding-top:25px;clear: none;margin-top: 20px;}
      footer a{padding:0;}
      .links li{display: block;margin: 0; }
	  .link_row1{padding-top:0;margin: 0; }
	  .cat {padding-left: 0; padding-right: 0;}
	  
}

